.font{
    font-family: Arial;
}

.background{
    /*position: relative;*/
    background: #000000;
}

.head{
    display: flex;
    align-items: center;
    min-height: 32px;
    height: 32px;
    margin: 30px 24px;
    box-sizing: border-box;
}

.record{
    /*min-height: 135px;*/
    /*height: 135px;*/
}

.body{
    display: flex;
    height: calc(var(--vh, 1vh) * 100 - 155px);
    min-height: calc(var(--vh, 1vh) * 100 - 155px);
    max-height: calc(var(--vh, 1vh) * 100 - 155px);
    box-sizing: border-box;
    position: relative;
    overflow: scroll;
    overflow-x: hidden;
}

.foot{
    min-height: 63px;
    height: 63px;
    box-sizing: border-box;
}
