.loading{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.loading > img{
    width: 40px;
}

.box{
    color: white;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
}