.gameBox{
    margin-bottom: 12px;
    background: #1C1B1B;
    /*transition: all 0.2s linear;*/
}

.gameBoxNone{
    height: 60px;
    overflow: hidden;
    /*transition: all 0.5s linear;*/
}

.box{
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 12px;
    /*padding: 0 16px;*/
    min-height: 60px;
    background: #1C1B1B;
    z-index: 10;
}

.content{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}

.teamLogo{
    width: 30px;
    height: 30px;
}

.winner{
    color: #0098fe;
}

.loser{
    color: #ffffffb0;
}

.draw{
    color: #ffffff;
}

.detail{
    width: 10px;
    height: 10px;
    cursor: pointer;
}

.detail img{
    width: 12px;
    height: 6px;
}

.detailDiv{
    font-size: 12px;
    max-height: 300vw;
    opacity: 1;
    /*overflow: hidden;*/
    transition: all 0.6s linear;
}

.detailDivNone{
    font-size: 12px;
    max-height: 0;
    opacity: 0;
}

.detailBox{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 44px;
}

.detailBox img{
    width: 17px;
    height: 17px;
}

.detailBox > div{
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 33%;

}

.detailDivNone div{
    height: 0;
}

.summaryBox{
    margin-bottom: 16px;
}

.summaryLinkBox{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 72px;
}

.summaryLinkBox > div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33%;
    box-sizing: border-box;
    color: #0098fe;
}
