.timeBox{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 48px;
}

.noGame{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 12px;
    height: 90%;
}

.noGame img{
    width: 48px;
    height: 48px;
}
