body {
    margin: 0;
    padding:
            env(safe-area-inset-top)
            env(safe-area-inset-right)
            env(safe-area-inset-bottom)
            env(safe-area-inset-left);
    background: #000000;
    font-family: Arial;
}

:root {
    --vh: 100%;
}

*{
    -webkit-tap-highlight-color : rgba(0,0,0,0)
}
