.box{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    min-width: 100%;
    height: 100%;
    left:0px;
    margin-bottom: 12px;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

.unBox{
    display: flex;
    position: absolute;
    width: 100%;
    min-width: 100%;
    height: 100%;
    left: 200%;
    transition: all 0.3s ease-in-out;
}


.tableHead{
    display: flex;
    width: 100%;
    min-height: 50px;
    max-height: 50px;
}

.tableMain{
    overflow: scroll;
}

.loading{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 73%;
}

.loading > img{
    width: 40px;
}

span{
    color: #ffffff;
}

.rank,
.team,
.round,
.score,
.win,
.draw,
.defeat{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

.rank{
    width: 10%;
}
.team{
    width: 37%;
}
.round{
    width: 16%;
}
.score{
    width: 10%;
}
.win,
.draw,
.defeat{
    width: 9%;
}
